.flex {
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
}

.flex>form {
    width: 33.3333%;
    min-width: 300px;
}

form>div>* {
    display: block;
    width: 80%;
    margin-bottom: 8px;
}

input {
    padding: 4px 8px;
}

table {
    flex-basis: 40%;
}

th,
td {
    padding: 0;
    margin: 0;
    border: 1px solid #000;
    text-align: center;
}